
/* KILL WEBFLOW BADGE */
.w-webflow-badge {
    position: relative !important;
    right: 1000px !important;
}

/* YTDEFER - onaj prvi super embed - kasnije sam naša onaj kropani */
.ytdefer-wrapper {
position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
/*width: calc(65vh*1920/1800);
height: 65vh;
}


/* --------------- FLIP GSAP CSS */ nedovršeno!


#container1::before, #container2::before{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #999;
}





